.App {
  
    color: #005c75;
    text-align: center;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



